{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 5%", "last 2 versions", "not ie <= 8"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
