.header,
.footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #efefef;
}
h1 {
  font-size: 40px;
}
img {
  max-width: 100%;
}
.list-img {
  overflow: hidden;
}
.list-img li {
  float: left;
  width: 100px;
  margin: 10px;
}
body {
  text-align: center;
}
